.quizListItem {
    list-style-type: none;
}

/* body {
    text-align: center;
} */

header {
    display: flex;
    justify-content: space-between;
}

.quiz {
    
}

.end-screen,
.score-screen {
    display: none;
}